.zoomup {
    transition: transform 0.2s ease;
}

.zoomup:hover {
    transform: scale(1.2);
}

input {
    color: white !important;
}

#upgrade-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}