.zoomup {
    transition: transform 0.2s ease;
}

.zoomup:hover {
    transform: scale(1.2);
}

input {
    color: white !important;
}

#upgrade-image {
    aspect-ratio: 1 / 1;
}

#ability-image {
    width: 100%;
    aspect-ratio: 1 / 1;
}

#side-upgrade-levels {
    overflow-x: auto;
}